[Unit]
Description=lksocks5
Wants=network-online.target
After=network-online.target


[Service]
Type=forking
PIDFile=/usr/local/lksocks5/logs/pid
ExecStart=/usr/local/lksocks5/sbin/lksocks5
ExecReload=/usr/local/lksocks5/sbin/lksocks5 -reload
ExecStop=/usr/local/lksocks5/sbin/lksocks5 -stop
TimeoutStopSec=3
PrivateTmp=true

[Install]
WantedBy=multi-user.target
